<ion-view title="{{title}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <h2 class="title" style="color:gray;">{{fname}}-{{lname}}-{{bname}}</h2>
    </div>
    <ion-content class="has-header" style="background-color:rgb(235,236,244);margin-top:12%;" >
        <label class="item item-input" style="background-color:rgb(235,236,244);border:none;margin-left:3%;">
            Any Pig Dead ?
            
        </label>
        
        <div class="row" style="margin-top:5%;">
            
            <div class="col col-50">
                <!--<a   ng-click="goBack()" style="border-radius:5px;padding:9% 35%;margin-top:10%;background-color:white;color:black;width:100%;">Back</a>-->
                <a href="#/app/inventory4/{{barn_id}}/{{bname}}/{{lname}}/{{fname}}"  style="border-radius:5px;padding:9% 42.5%;margin-top:10%;background-color:white;color:black;width:100%;text-decoration:none;">Yes</a>
            </div>
            <div class="col col-50">
                <a  style="border-radius:5px;padding:9% 42.5%;margin-top:10%;background-color:white;color:black;width:100%;text-decoration:none;" ng-click="no_death()">
                    No
                </a>
            </div>
        </div>
        
        
     
    </ion-content>
    <div class="bar bar-footer" style="background-color:rgb(240,241,248);border:none;">
     <a class="button button-outline button-light" href="#/app/barnmanager/{{barn_id}}/{{bname}}/{{lname}}/{{fname}}" style="background-color:white;color:black;width:80%;margin-left:10%;text-decoration:none;" > Cancel</a>
     </div>

</ion-view>