<ion-side-menus class ="login">
    
    <ion-side-menu-content>
        <ion-content style="background-color:#cacde2;">
            <div class="list list-inset login" style="height:45%">
                <div style="text-align:center; margin-top:10%;">
                    <img src="img/farm_assist_logo.png" ng-style="{{wi}}" >
                    <!-- style="margin-top:10%;" -->
                </div>
                <br/>
                <div style="height:45%;">
                <label class="item item-input" style="border-radius:10px;background-color:rgb(213,219,237);">
                    <input ng-model='name.text' name="userName" type="text" placeholder="User Name"  style="border-radius:10px;" required>
                </label>
                <br/>
                <label class="item item-input" style="border-radius:10px;background-color:rgb(213,219,237);">
                    <input ng-model='password.text' name="password" type="password" placeholder="Password" style="border-radius:10px;" required>
                </label>
                <br/>
                <button ng-click="submitbutton()" ng-disabled="click" class="button button-block button-positive" style="border-radius:10px;border-color:rgb(145,165,211);background-color:{{butcolor}};color:white;">
                    {{tes}}
                </button>
                <div>
<!--                <input ng-model='token' name="token" type="text" style="border-radius:10px;">-->
            </div>
            
        </ion-content>
    </ion-side-menu-content>
</ion-side-menus>
